<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<form action="/ads/updatead/" method="post">
				<input type="hidden" name="id" value="{{ad.id}}" />
				<div class="form-group">
					<label for="title">Titel</label>
					<input type="text" id="title" name="title" class="form-control" value="{{ad.title}}">
				</div>

				<div class="form-group">
					<label for="content">Annonstext</label>
					<textarea id="content" name="content" class="form-control">{{ad.content}}</textarea> 
				</div>

				<div class="form-group">
					<label for="payment">Ersättning/Bytes mot</label>
					<input type="text" id="payment" name="payment" class="form-control" value="{{ad.payment}}">
				</div>
				
				<div class="form-group">
					<label for="address_street">Gata</label>
					<input type="text" id="address_street" name="address_street" class="form-control" value="{{ad.address_street}}"> 
				</div>
				
				<div class="form-group">
					<label for="address_zip">Postnummer</label>
					<input type="text" id="address_zip" name="address_zip" class="form-control" value="{{ad.address_zip}}"> 
				</div>
				
				<div class="form-group">
					<label for="address_city">Ort</label>
					<input type="text" id="address_city" name="address_city" class="form-control" value="{{ad.address_city}}"> 
				</div>
				
				<div class="form-group">
					<label for="ad_type">Typ av annons</label>
					<select class="form-control" name="ad_type">

						{% for ad_type in ad_types %}
							<option value="{{ad_type.id}}"
							{% if ad_type.id == ad.typeId %} 
								selected="selected"
							{% endif %}> 
							{{ad_type.name}}</option>
						{% endfor %}

					</select>
				</div>
				<div class="form-group">

					<label>Taggar</label><br />

					{% for tag in tags %}

						<div class="checkbox">

							<label>
								<input type="checkbox" name="tags[]" value="{{tag.id}}"
								{% if tag.id in ad.tags %} 
								checked="checked"
								{% endif %}
								> {{tag.name}}
							</label>

						</div>

					{% endfor %}

				</div>


				<div class="form-group">
					<label for="date_expire">Annonsen tas ner</label>
					<input type="text" name="date_expire" value="{{ad.dateExpire}}" id="date_expire" class="form-control">				
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary">Uppdatera annons</button>
				</div>
			</form>
		</div>
	</div>
</div>