
  <!-- Header -->
<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<form action="" method="get">
				<div class="form-group">
					<label for="search">Sök på fritext</label>
					<input type="text" id="search" class="form-control" name="search">
				</div>
				
				<div class="form-group">
					<label>Taggar</label><br />
					{% for tag in tags %}
						<div class="checkbox-inline">
							<label class="checkbox-inline"><input type="checkbox" name="tags[]" value="{{tag.id}}"{% if tag.id in searchTags %} checked="checked" {% endif %}> {{tag.name}}</label>
						</div>
					{% endfor %}
				</div>

				<div class="form-group">
					<label>Annonstyp</label><br />
					<div class="">
						<select name="adtype" class="form-control">
							<option value="">Alla Annonstyper</option>

							{% for adType in adTypes %}

							<option value="{{adType.id}}" {% if adType.id in searchAdTypes %} selected="selected" {% endif %}> {{adType.name}}
							</option>

							{% endfor %}
						</select>
					</div>
				</div>

				<div class="form-group"><button type="submit" class="btn btn-default">Sök</button></div>
			</form>
		</div>
	</div>




	{% if search %}
		Träffar på {{search}}
	{% endif %}	

	<div class="row">
		<div class="col-xs-12">
			{% for ad in ads %}
				<div class="adListBox">
					<p><a href="/ads/?id={{ad.id}}">{{ad.title}}</a></p>
					<p>{{ad.dateCreated}}</p>
				</div>
			{% endfor %}	
		</div>
	</div>
</div>