<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<form action="" method="get">
				<div class="form-group"><input type="text" class="form-control" name="search"></div>
				<div class="form-group">

					<label>Taggar</label><br />

					{% for tag in tags %}

						<div class="checkbox">

							<label><input type="checkbox" name="tags[]" value="{{tag.id}}"{% if tag.id in searchTags %} checked="checked" {% endif %}> {{tag.name}}</label>

						</div>

					{% endfor %}

				</div>
				<div class="form-group"><button type="submit" class="btn btn-default">Sök</button></div>
			</form>
		</div>
	</div>




	{% if search %}
		Träffar på {{search}}
	{% endif %}	

	<div class="row">
		<div class="col-xs-12">
			{% for ad in ads %}
				<div class="adListBox">
					<p><a href="/ads/?id={{ad.id}}">{{ad.title}}</a></p>
					<p>{{ad.dateCreated}}</p>
				</div>
			{% endfor %}	
		</div>
	</div>
</div>