 <section id="portfolio" class="bg-light-gray">
       <div class="container">
           <div class="row">
               <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Skapa Annons</h2>
                    <h3 class="section-subheading text-muted">{{ad.title}}</h3>
                </div>
           </div>
		<div class="row">
		<div class="col-xs-12">
			<form action="/ads/savead/" method="post" enctype="multipart/form-data">
				<div class="form-group">
					<label for="title"><h4>Titel</h4></label>
					<input type="text" id="title" name="title" class="form-control" >
				</div>

				<div class="form-group">
					<label for="content"><h4>Annonstext</h4></label>
					<textarea id="content" name="content" class="form-control"></textarea> 
				</div>

				<div class="form-group">
					<label for="payment"><h4>Ersättning/Bytes mot</h4></label>
					<input type="text" id="payment" name="payment" class="form-control">
				</div>

				<div class="form-group">
					<label for="address_street"><h4>Gata</h4></label>
					<input type="text" id="address_street" name="address_street" class="form-control" value="{{user.addressStreet}}"> 
				</div>
				
				<div class="form-group">
					<label for="address_zip"><h4>Postnummer</h4></label>
					<input type="text" id="address_zip" name="address_zip" class="form-control" value="{{user.addressZip}}"> 
				</div>
				
				<div class="form-group">
					<label for="address_city"><h4>Ort</h4></label>
					<input type="text" id="address_city" name="address_city" class="form-control" value="{{user.addressCity}}"> 
				</div>

				<div class="form-group">
					<label for="ad_type"><h4>Typ av annons</h4></label>
					<select class="form-control" name="ad_type">
						{% for adType in adTypes %}
						<option value="{{adType.id}}">{{adType.name}}</option>
						{% endfor %}
					</select>
				</div>
				<div class="form-group">

					<label><h4>Taggar</h4></label><br />

					{% for tag in tags %}
						<div class="checkbox">
							<label><input type="checkbox" name="tags[]" value="{{tag.id}}"> {{tag.name}}</label>
						</div>
					{% endfor %}
				</div>
				<div class="form-group">
					<label for="image"><h4>Bild</h4></label>
					<input type="file" id="image" name="image" class="form-control" value=""> 
				</div>
				<div class="form-group">
					<label for="date_expire"><h4>Annonsen tas ner</h4></label>
					<p id="date_expire">{{dateExpire}}</p>			
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary">Skapa annons</button>
				</div>
			</form>
		</div>
	</div>
</div>
</section>