    <section id="portfolio" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Redigera Annons</h2>
                    <h3 class="section-subheading text-muted">{{ad.title}}</h3>
                </div>
            </div>

	<div class="row">
			<form action="/ads/updatead/" method="post">
				<input type="hidden" name="id" value="{{ad.id}}" />
				<div class="form-group">
					<label for="title"><h4>Titel</h4></label>
					<input type="text" id="title" name="title" class="form-control" value="{{ad.title}}">
				</div>

				<div class="form-group">
					<label for="content"><h4>Annonstext</h4></label>
					<textarea id="content" name="content" class="form-control">{{ad.content}}</textarea> 
				</div>

				<div class="form-group">
					<label for="payment"><h4>Ersättning/Bytes mot</h4></label>
					<input type="text" id="payment" name="payment" class="form-control" value="{{ad.payment}}">
				</div>
				
				<div class="form-group">
					<label for="address_street"><h4>Gata</h4></label>
					<input type="text" id="address_street" name="address_street" class="form-control" value="{{ad.address_street}}"> 
				</div>
				
				<div class="form-group">
					<label for="address_zip"><h4>Postnummer</h4></label>
					<input type="text" id="address_zip" name="address_zip" class="form-control" value="{{ad.address_zip}}"> 
				</div>
				
				<div class="form-group">
					<label for="address_city"><h4>Ort</h4></label>
					<input type="text" id="address_city" name="address_city" class="form-control" value="{{ad.address_city}}"> 
				</div>
				
				<div class="form-group">
					<label for="ad_type"><h4>Typ av annons</h4></label>
					<select class="form-control" name="ad_type">

						{% for ad_type in ad_types %}
							<option value="{{ad_type.id}}"
							{% if ad_type.id == ad.typeId %} 
								selected="selected"
							{% endif %}> 
							{{ad_type.name}}</option>
						{% endfor %}

					</select>
				</div>
				<div class="form-group">

					<label><h4>Taggar</label></h4><br />

					{% for tag in tags %}

						<div class="checkbox">

							<label>
								<input type="checkbox" name="tags[]" value="{{tag.id}}"
								{% if tag.id in ad.tags %} 
								checked="checked"
								{% endif %}
								> {{tag.name}}
							</label>

						</div>

					{% endfor %}

				</div>


				<div class="form-group">
					<label for="date_expire"><h4>Annonsen tas ner</h4></label>
					<input type="text" name="date_expire" value="{{ad.dateExpire}}" id="date_expire" class="form-control">				
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary">Uppdatera annons</button>
				</div>
			</form>
		</div>
	</div>
    </section>