
	<div class="row">
		<div class="col-xs-12">
			{% for ad in ads %}
				<div class="adListBox">
					<p>Titel: <a href="/ads/?id={{ad.id}}">{{ad.title}}</a></p>
					<p>Publicerad: {{ad.dateCreated}}</p>
					<p><a href="/ads/editad/?id={{ad.id}}">Redigera</a> <a href="/ads/deletead/?id={{ad.id}}">Radera</a></p>
					<hr>
				</div>
			{% endfor %}	
		</div>
	</div>